* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", segoe UI, sans-serif;
}

body {
  font-size: 1.6rem;
  color: #000;
}
a,
a:visited {
  text-decoration: none;
  // color: inherit;
  cursor: pointer;
  transition: 0.3s ease-out;
}
input,
input:active,
textarea,
textarea:active {
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
h1 {
  font-size: 2.4rem;
  margin: 0.5rem 0;
}
button {
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  * {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

strong {
  display: inline-block;
}

.center {
  text-align: center;
}
